<div class="row">
  <div class="col-md-12">
    <br><br><br>
  	<h3>Scheduled ETL Workers</h3>	

    <p><%= link_to "Add Worker", new_scheduled_job_path, :class => "btn btn-xs btn-primary"  %></p>
    <p><%= link_to 'Sidekiq Monitor', sidekiq_web_path, :class=> "btn btn-primary" %></p>
  	<table class="table">
  		<th>
  			<td>Description</td>
  			<td>City</td>
  			<td>Status</td>
  			<td>Last Run</td>
  		</th>

      <% @scheduled_jobs.each do |s| %>
        <tr>
          <td><%= link_to s.description, s %><br><%= s.job_command %></td>
          <td><%= s.city.name %></td>
          <td><%= s.status %></td>
          <td><%= s.last_run_date %></td>
        </tr>
      <% end %>
  	</table>
  </div>
</div>