<div class="row">
  <div class="col-md-12">
    <br><br><br>
    <h3>ETL Worker: <%= @scheduled_job.description %></h3>  

    <table class="table">
      <th>
        <td>Description</td>
        <td>City</td>
        <td>Status</td>
        <td>Last Run</td>
      </th>

      <tr>
        <td><%= @scheduled_job.description %><br><%= @scheduled_job.job_command %></td>
        <td><%= @scheduled_job.city.name %></td>
        <td><%= @scheduled_job.status %></td>
        <td><%= @scheduled_job.last_run_date %></td>
      </tr>
    
    </table>

    <p><%= link_to 'Delete Worker', scheduled_job_path(@scheduled_job), :confirm => 'Are you sure you want to delete this session and all its files?', :method => :delete, :class => "btn btn-xs btn-danger" %></p>

  </div>
</div>