<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crime_type.name %>
</p>

<p>
  <strong>Display Name:</strong>
  <%= @crime_type.display_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @crime_type.description %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @crime_type.crime_weight %>
</p>

<%= link_to 'Edit', edit_crime_type_path(@crime_type) %> |
<%= link_to 'Back', crime_types_path %>
