<div class="row">
<div class="col-xs-12 col-md-4">
<%= simple_form_for(@crime_type_description) do |f| %>
  <%= f.error_notification %>
	<div class="form-group">
		  <%= f.input :id, disabled: true, input_html: {class: 'form-control'} %>
	    <%= f.input :description, input_html: {class: 'form-control'} %>
	    <%= f.association :crime_type, collection: CrimeType.all.order("name ASC"), input_html: {class: 'form-control'} %>
	</div>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>
