<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @crime_data.id %>
</p>

<p>
  <strong>Case Number:</strong>
  <%= @crime_data.case_number %>
</p>

<p>
  <strong>Address/Block:</strong>
  <%= @crime_data.block %>
</p>

<p>
  <strong>City:</strong>
  <%= @crime_data.city %>
</p>

<p>
  <strong>State</strong>
  <%= @crime_data.state %>
</p>

<p>
  <strong>Country</strong>
  <%= @crime_data.country %>
</p>

<p>
  <strong>Crime Date:</strong>
  <%= @crime_data.crime_date %>
</p>

<p>
  <strong>Crime Data Source Type:</strong>
  <%= @crime_data.crime_src_type %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @crime_data.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @crime_data.longitude %>
</p>

<p>
  <strong>Beat:</strong>
  <%= @crime_data.beat %>
</p>

<p>
  <strong>Primary Type:</strong>
  <%= @crime_data.primary_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @crime_data.description %>
</p>

<p>
  <strong>Location Description:</strong>
  <%= @crime_data.location_description %>
</p>

<p>
  <strong>IUCR</strong>
  <%= @crime_data.iucr %>
</p>

<p>
  <strong>Domestic</strong>
  <%= @crime_data.domestic %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @crime_data.ward %>
</p>

<p>
  <strong>District:</strong>
  <%= @crime_data.district %>
</p>

<p>
  <strong>Community Area:</strong>
  <%= @crime_data.community_area %>
</p>

<p>
  <strong>Arrest:</strong>
  <%= @crime_data.arrest %>
</p>

<p>
  <strong>FBI Code:</strong>
  <%= @crime_data.fbi_code %>
</p>

<p>
  <strong>Year:</strong>
  <%= @crime_data.year %>
</p>

<p>
  <strong>X Coordinate</strong>
  <%= @crime_data.x_coordinate %>
</p>

<p>
  <strong>Y Coordinate</strong>
  <%= @crime_data.y_coordinate %>
</p>

<%= link_to 'Back', crime_data_path %>
